doctype html
html(ng-app="blog2")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js')
    script(src='javascripts/blog2.js')
    script(src='javascripts/app.config.js')
    script(src='javascripts/components/postList.js')
    script(src='javascripts/components/postDetail.js')
  body
    block content
